<% if logged_in? %>
<h1>Everyone's messages</h1>
 <%= link_to 'New message', new_message_path, class: 'btn btn-lg btn-primary' %>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-striped">
        <thead calss="thread-light">
          <tr>
            <th>Title</th>
            <th>Message</th>
          </tr>
        <tbody>
          <% @messages.each do |message| %>
            <tr>
              
              <td><%= message.title %></td>
              <td><%= message.content %></td>
               <% end %>
            </tr>
        </tbody>
        </thead>
    </table>
<% else %>
   <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the messages</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
   </div>
<% end %>   